.text-content{
 min-height: 200px;
 border: none;

 padding:20px;
 box-shadow:  0px 0px 5px #ccc;
 border-radius: 0.5vh;
 background-color: white;

}
.text-content ul{
    list-style: initial;
}
.text-content ol{
    list-style: decimal;
}